<div class="row">
  <div class="col-md-3">
        <h6>{{patient?.name}} Visit Profile</h6>
        <p>ContactNo : {{patient?.contactNo}}, City:{{patient?.city}}, {{patient?.country}}</p>
        <p>Diagnosis: {{patient?.diagnosis}}</p>
  </div>
  <div class="col-md-3">
    <p>Ongoing Med : {{patient?.ongoingMedication}}</p>
    <p>Drug Allergy: {{patient?.drugAllergy}}</p>
  </div>
  <div class="col-sm-6">
    <!-- <img class="card-img-top img-thumbnail" src="{{'../../../../../assets/images/user.png' }}" alt="{{patient.name}}"> -->
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!!
        </div>
  </div> 
</div>
<div class="row">
  <div class="col">
    <!-- <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <div> -->
          <form #editForm = "ngForm" id="editForm" (ngSubmit)="updateVisit()">
            <div class="form-group row">
            <div class="col-md-12">
              <h6>Visit Id : {{visit.id}} and Visit Date {{ visit.visitDate | date:'shortDate'}} -- {{visit.visitDate | timeAgo}}</h6>
              <input hidden type="text" class="form-control" name="id"
              [(ngModel)] = "visit.id">
              <input hidden class="form-control"
              placeholder="Visit Date" name="visitDate"
              type="text"
              [(ngModel)] = "visit.visitDate"
              bsDatepicker
              [bsConfig]=bsConfig >
            </div>
            <div class="col-md-6">
              <h6>Complaints</h6>
              <textarea class="form-control" name="complaints" rows="3" 
              [(ngModel)]="visit.complaints"></textarea>
            </div>
            <div class="col-md-6">
              <h6>Condition</h6>
              <textarea class="form-control" name="condition" rows="3" 
              [(ngModel)]="visit.condition"></textarea>
            </div>
            <div class="col-md-6">
              <h6>Prescription</h6>
              <textarea class="form-control" name="prescription" rows="3" 
              [(ngModel)]="visit.prescription"></textarea>
            </div>
            <div class="col-md-6">
              <h6>Advise</h6>
              <textarea class="form-control" name="advise" rows="3" 
              [(ngModel)]="visit.advise"></textarea>
            </div>
            <div class="col-md-6">
              <h6>Findings</h6>
              <textarea class="form-control" name="findings" rows="3" 
              [(ngModel)]="visit.findings"></textarea>
            </div>
            <div class="col-md-6">
              <h6>Remarks</h6>
              <textarea class="form-control" name="remark" rows="3" 
              [(ngModel)]="visit.remark"></textarea>
            </div>
            <div class="col-md-6">
              <h6>Status</h6> {{visit.status}}
              <select name="status" [(ngModel)]="visit.status">
                <option class="form-control" *ngFor="let s of statusOptions" [value]="s" >{{s}}</option>
            </select>
            </div>
            <div class="col-md-6">
              <h6>Charge</h6>
                <input type="number" class="form=control" name="charges" [(ngModel)]="visit.charges">
            </div>                  
          </div>
          </form>
          <button  Form="editForm" [disabled]="!editForm.dirty" class="btn btn-success">Save Changes</button> 
          <button  Form="editForm" (click) = "createVisit()" class="btn btn-info">Add Today's VisitDetails</button> 
          <button (click)="backButton()" [disabled]="editForm.dirty" >Back</button>       
      </div>
      <!-- <div class="card-footer">

      </div>       -->
      </div>
      
    <!-- </div>
  </div>
  </div> -->