<div class="row">
  <div class="col-sm-4">
        <h1>{{patient?.name}} visit Profile</h1>
    <div class="card">
      <div class="card-title">{{visit.id}}</div>
      <div class="card-body">
        <div>
          <strong>Complaint: </strong>
          <p>{{visit.complaints}}</p>
          <strong>condition :</strong>
          <p>{{visit.condition}}</p> 
          <strong>remark:</strong>
          <p>{{visit.remark}}</p> 
          <strong>Last Visit:</strong>
          <p>{{patient?.lastVisit}}</p> 
          <form #editForm = "ngForm" id="editForm" (ngSubmit)="updateVisit()">
            <h4>Description</h4>
            <textarea class="form-control" name="complaints" rows="6" 
              [(ngModel)]="visit.complaints"></textarea>
              <h4>Looking For</h4>
              <textarea class="form-control" name="condition" rows="6" 
              [(ngModel)]="visit.condition"></textarea>
              <h4>Interests</h4>
              <textarea class="form-control" name="remark" rows="6" 
              [(ngModel)]="visit.remark"></textarea>
                
          </form>


      </div>
      </div>
    </div>
  </div>