<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-title">{{patient.name}}</div>
        <div class="card-body">
          <div>
            <strong>Location: </strong>
            <p>{{patient.city}}, {{patient.Country}}</p>
            <strong>Contact No:</strong>
            <p>{{patient.contactNo}}, {{patient.email}}</p> 
            <strong>Age:</strong>
            <p>{{patient.Age}} : Gender {{patient.gender}}</p> 
            <strong>Last Visit:</strong>
            <p>{{patient.lastVisit}}</p>                            
        </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100" [routerLink]="['/lstpatients/edit/', patient.id]">Edit</button>
            <button class="btn btn-secondary w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading ="About {{patient?.name}}">
            <h4>Diagnosis</h4>
            <p>{{patient.diagnosis }}</p>
            <h4>Snapshot</h4>
            <p>{{patient.snapshot }}</p>            
            <h4>Drug Allergy</h4>
            <p>{{patient.drugAllergy }}</p>            
            <h4>Ongoing Medication</h4>
            <p>{{patient.ongoingMedication }}</p>            
            <h4>Recent Investigation</h4>
            <p>{{patient.recentInvestigation }}</p>            
            <h4>Remark</h4>
            <p>{{patient.remark }}</p>            
          </tab>
          <tab heading ="Visit Details">
            <p>Visit details</p>
              <app-VisitDetailsList [visits] = visits [patient] = patient></app-VisitDetailsList>
              <!-- <app-VisitDetailCard [visit] = visit [patient] = patient ></app-VisitDetailCard> -->    
          </tab>
          <tab heading ="Radiology Reports">
            <p>Radiology Reports</p>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>          
        </tabset>
      </div>
    </div>
  </div>
</div>