<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div *ngIf="editForm.dirty" class="alert alert-info">
                <strong>Information:</strong> You have made changes. Any unsaved changes will lost!
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
            <h1>Your Profile</h1>
            <h2 *ngIf="user.isAdmin">Admin</h2>
            <h4>Clinic Id {{user.clinicId}} </h4>
        <div class="card">
          <div class="card-title">{{user.username}}</div>
          <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.name}}">
          <div class="card-body">
            <div>
              <p>User Name : {{user.username}}</p>              
              <p>Name : {{user.name}}</p>        
              <p>Contact Details: {{user.email}}</p>  
              <p> Location: {{user.city}}, {{user.country}}</p>
              
              <p class="text-muted"> Last Active:{{user.lastActive | timeAgo}}</p>
              <p class="text-muted">Registered : {{user.created | timeAgo}}</p>
          </div>
          </div>
          <div class="card-footer">
              <button [disabled]="! editForm.dirty" form="editForm" class= "btn btn-success">Save Changes</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading ="Edit Profile">
                <form #editForm="ngForm" id="editForm" (ngSubmit) = "updateUser()">
                    <div class="form-group row"> 
                        <div class="col-md-6">
                            <h4>Name</h4>
                            <input type="text" class="form-control" name="name"
                            [(ngModel)]="user.name">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" style="margin-right:10px">Gender</label>
                            <label class="radio-inline">
                              <input class="mr-7"  type="radio" [(ngModel)]="user.gender" value="male" class="form-Control" name="gender">Male
                            </label>
                            <label class="radio-inline">
                              <input class="mr-3" type="radio" [(ngModel)]="user.gender" value="female" class="form-Control" name="gender">Female
                            </label>                    
                          </div>
                          <div class="col-md-6">
                            <h6>Date of Birth - Age {{user.age}} Yrs</h6>
                            <input class="form-control"
                            placeholder="Birth Date" name="dateOfBirth"
                            type="text" [(ngModel)]="user.dateOfBirth"
                            bsDatepicker
                            [bsConfig]=bsConfig >                    
                          </div>
                          <div class="col-md-6">
                            <h4>Phone, Mobile, eMail</h4>
                            <textarea name="Phone, Mobile, email" rows="2" class="form-control" [(ngModel)]="user.email"></textarea>
                        </div>
                        <div class="col-md-6">
                            <h4>Education</h4>
                            <input type="text" class="form-control" name="education"
                            [(ngModel)]="user.education">
                        </div>
                        <div class="col-md-6">
                            <h4>Introduction</h4>
                            <textarea name="introduction" rows="2" class="form-control" [(ngModel)]="user.introduction"></textarea>
                        </div>
                        <div class="col-md-6">
                            <h4>LookingFor</h4>
                            <textarea name="lookingFor" rows="2" class="form-control" [(ngModel)]="user.lookingFor"></textarea>
                        </div>  
                        <div class="col-md-6">
                            <h4>Interests</h4>
                            <textarea name="interests" rows="2" class="form-control" [(ngModel)]="user.interests"></textarea>
                        </div>
                        <div class="col-md-6">
                            <h4>Location Details:</h4>
                            <div class="form-inLine">
                                <label for="city">City</label>
                                <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
                                <label for="country">Country</label>
                                <input class="form-control" type="text" name="country" [(ngModel)]="user.country">
                            </div>
                        </div>
                    </div>
                </form>
          
            </tab>
  
            <tab heading ="Add Photo">
              <div class="row mt-3">
                <div class="col-md-3">
                    <div ng2FileDrop
                        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                        (fileOver)="fileOverBase($event)"
                        [uploader]="uploader"
                        class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                        <i class="fa fa-upload fa-3x"></i>
                        Drop Photo here
                    </div>

                    <!-- Multiple
                    <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/> -->

                    Select File
                    <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>

                <div class="col-md-9" style="margin-bottom: 40px">

                    <h3>Upload queue</h3>
                    <p>Queue length: {{ uploader?.queue?.length }}</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td *ngIf="uploader.options.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs"
                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                        (click)="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s"
                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s"
                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
                </div>
              </div>
            </tab>
            <tab headng="Messages">
              <p>Messages</p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>