
  <h5>Taking appointment prior to consultation is compulsory</h5>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Surat</mat-card-title>
      <mat-card-subtitle>Monday,Tuesday,Thursday,Friday</mat-card-subtitle>
      <mat-card-subtitle>8:00 a.m. to 1:00 pm</mat-card-subtitle>
      <mat-card-subtitle>3:00 a.m. to 6:00 pm</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="card-text">Plot No.2, 3rd floor, B-3 K. R. House, Anandnagar Society, Next to Paramdham, Kailashnagar, Sagrampura, Surat - 395002.</p>
      <p class="card-text">For Appointment : +91 9537888662, +91 9537888663, +91 94288 22287,+91 94288 22288,
        +91 261 2477677, +91 261 2460523 -99249 29508</p>
      <p class="card-text">Email : mansij1954@gmail.com, PrashantiDoctors@gmail.com</p>
      <a href="https://goo.gl/maps/brihGiVqcuuLF9GJA" class="btn btn-primary">Find us on map</a>
  
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Valsad</mat-card-title>
      <mat-card-subtitle>Wednesday</mat-card-subtitle>
      <mat-card-subtitle>8:00 a.m. to 1:00 pm</mat-card-subtitle>
      <mat-card-subtitle>3:00 a.m. to 6:00 pm</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="card-text">Matru Prayag, 4th Floor, Azad Chawk Tower Road, Valsad-396001.</p>
      <p class="card-text">Phone:+91 2632 246099, +91 9428822286.</p>
      <!-- <a [routerLink]="['/aboutus/']" class="btn btn-primary">About Us</a> -->

      <!-- <a href="https://goo.gl/maps/DnzJ4XGigSeozSk89" class="btn btn-primary">Find us on map</a> --> 
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>SOCH Hospital</mat-card-title>
      <mat-card-subtitle>Dr. Mahesh Desai is associated with SOCH Hospital.</mat-card-subtitle>
      <mat-card-subtitle>Open 24 X7 </mat-card-subtitle>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <p class="card-text">SOCH Hospital, 7th Floor, Sunshine Global Hospital, Beside Big Bazar, Gaurav Path, Piplod, Surat-395007.</p>
      <!-- <a [routerLink]="['/aboutus/']" class="btn btn-primary">About Us</a> -->
      <p class="card-text">Phone:+91 261 2465888, +91 261 6550020.</p>
      <p class="card-text">Email : sochcommunity@gmail.com</p>
      <a href="https://goo.gl/maps/DnzJ4XGigSeozSk89" class="btn btn-primary">Find us on map</a>
    </mat-card-content>
  </mat-card>  
