<mat-card>
  <mat-card-title>
    Psycology Is Proven Science.
  </mat-card-title>
  <mat-card-subtitle>
    Mental illness is all in the mind. If the person tries hard enough, he can overcome these problems on his own. Why does he need medicines?
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      The term "mental illness" is an unfortunate one because it implies a distinction between "mental" (mind-based) disorders and "physical" (body-based) disorders. 
    </p>
    <p>Research shows that there is much that is "physical" in "mental" disorders and vice-versa. </p>
    <p>
      For example, the brain chemistry of a person with the psychiatric illness of depression is different from that of a normal person, and treatment with medicines brings the brain chemistry back to normal. 
    </p>
    <p> It might seem surprising, but the thoughts, feelings and behavior of normal – yes, normal – people are determined by the actions of certain brain chemicals. This is an established fact of neuroscience.</p>
  </mat-card-content>
</mat-card>

